.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 60px;
}
.price{
        color: crimson;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 9px 25px;
}